[toolchain]
anchor_version = "0.30.1"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
zerorouter = "9rcfA9NmU5mJnvpcCnKNsmSTorCGDXmGnQFB63mdXDdK"

[programs.localnet]
zerorouter = "9rcfA9NmU5mJnvpcCnKNsmSTorCGDXmGnQFB63mdXDdK"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run mocha -t 1000000 tests/"
